.header-search {

  &__inner {

  }

  &__form {

  }

  &__head {
    position: relative;

    .form-field {
      position: relative;
    }

    .form-input {
      padding-left: 50px;
      -webkit-appearance: searchfield;
      -webkit-font-smoothing: antialiased;

      &:focus {
        + .header-search__body {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
      }
    }

    input[type=search] {
      -webkit-appearance: none;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 1;
    padding: 10px;
    opacity: .7;
    transition: .3s;

    &:hover, &:focus {
      opacity: 1;
    }

    &:before {
      content: '';
      @include sprite('icon-search');
    }
  }

  &__body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    background-color: #fff;
    transition: .3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 3px;

    &-section {
      padding: 10px 0;
      border-bottom: 1px solid #eee;

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    &-empty {
      ._text{
        text-align: center;
        padding: 30px 10px;
      }
    }
  }
}