.nav {
  border-bottom: 1px solid #eee;

  &__inner {
    @include tablet-and-phone {
      padding: 10px 0;
    }
  }

  &__action {
    display: none;

    @include mobile {
      display: block;
    }

    ._btn.open {
      padding-left: 30px;
      font-size: 20px;
      color: $primary-color;
      position: relative;

      &:before {
        content: '';
        @include sprite('icon-menu');
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
      }
    }

    ._btn.close {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 101;
      opacity: 0;
      visibility: hidden;
      transition: .3s;

      .nav-opened & {
        opacity: 1;
        visibility: visible;
      }

      &:before {
        content: '';
        @include sprite('icon-close');
      }
    }
  }

  &__list {
    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include mobile {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #fff;
      z-index: 100;
      padding: 50px 20px 20px;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      text-align: center;

      .nav-opened & {
        opacity: 1;
        visibility: visible;

      }
    }
  }

  &__item {
    margin-right: 20px;

    @include tablet {
      display: inline-block;
      vertical-align: top;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    font-size: 18px;
    transition: .3s;
    line-height: 60px;

    @include tablet-and-phone {
      line-height: 35px;
    }

    @include mobile {
      line-height: 30px;
      font-size: 20px;
    }

    &:hover {
      color: $primary-color;
    }
  }
}