.news-section {
  &__inner {
    padding: 30px 0;
  }

  &__head {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 12px;

    ._link {

    }

    ._count {
      line-height: 24px;
      color: #999;
      margin-left: 15px;
      font-size: 16px;
      @include rmono-regular;

      @include mobile {
        display: block;
        margin-left: 0;
      }
    }
  }

  &__label {
    &-list {
      @include no-mobile {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-item {
      padding: 5px 0;

      @include no-mobile {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      ._link {
        font-size: 18px;
      }

      ._count {
        font-size: 14px;
        margin-left: 7px;
        @include rmono-regular;
        color: #999;
      }
    }
  }

  &__body {

  }

  &__main {
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
  }

  &__row {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    padding: 10px;

    @include desktop {
      flex: 0 0 25%;
      max-width: 25%;
    }

    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include mobile {
      display: none;

      &:nth-child(1), &:nth-child(2) {
        display: block;
      }
    }
  }

  &__list {
    margin: -15px -10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 15px 10px;
    @include desktop {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__foot {
    margin-top: 45px;
  }

  &__action {
    display: block;
    border: 1px solid $gray-color;
    line-height: 18px;
    text-align: center;
    color: #999;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
    padding: 20px;
    transition: .3s;

    @include mobile {
      padding: 10px;
    }

    &:hover, &:focus {
      border-color: rgba(238, 85, 34, 0.5);
    }
  }
}