.news-item {
  &__inner {

  }

  &__img {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 12px;
    font-size: 0;
    background-color: #eee;

    &:before {
      content: '';
      display: block;
      padding-top: 66%;
    }

    ._img {
      position: absolute;
      @include fill();
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    ._text {
      position: absolute;
      @include align();
      @include rslab-regular;
      font-size: 34px;
      color: #999;
      line-height: 1;
      text-transform: uppercase;
    }

    ._link {
      position: absolute;
      @include fill();
    }
  }

  &__label {
    margin-bottom: 4px;
    font-size: 11px;
    @include medium;
    letter-spacing: 0.1em;
    line-height: 17px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    color: #999;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 4px;
    line-height: 20px;
    @include medium;

    &:last-child {
      margin-bottom: 0;
    }

    ._link {

    }
  }

  &__desc {
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
  }

  &__link {
    position: absolute;
    @include fill();
  }

  &--small {
    @include mobile {
      display: none;

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        display: block;
      }
    }

    .news-item {
      &__inner {
        padding-left: 85px;
        position: relative;
      }

      &__img {
        position: absolute;
        left: 0;
        top: 3px;
        width: 70px;
        height: 70px;
        overflow: hidden;

        &:before {
          display: none;
        }
      }

      &__title {
        margin-bottom: 2px;
      }

      &__label {
        margin-bottom: 2px;
      }

      &__label {
        margin-bottom: 0;
      }
    }
  }

  &--search {
    min-height: 55px;

    &:hover {
      background-color: #f6f6f6;
    }

    .news-item {
      &__inner {
        padding: 8px 8px 8px 58px;
        position: relative;
      }

      &__img {
        position: absolute;
        left: 8px;
        top: 8px;
        width: 40px;
        height: 40px;
        overflow: hidden;

        &:before {
          display: none;
        }
      }

      &__title {
        margin-bottom: 2px;
      }

      &__label {
        margin-bottom: 2px;
      }

      &__label {
        margin-bottom: 0;
      }
    }
  }
}