.search-category {
  font-size: 0;

  &__inner {

  }

  &__link {
    display: block;
    margin-bottom: 1px;
    padding: 10px 8px 11px 8px;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile {
      padding: 5px 8px 6px;
    }

    &:hover {
      background-color: #f6f6f6;

      color: inherit;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    font-size: 16px;

    @include mobile {
      margin-right: 13px;
      font-size: 14px;
    }

    &:before {
      content: '';
      @include sprite('arrow-right');
      position: absolute;
      right: -12px;
      top: 4px;

      @include mobile {
        right: -10px;
      }
    }

    &:last-child {
      margin-right: 0;

      &:before {
        display: none;
        margin-right: 0;
      }
    }
  }
}