.search-mark {
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    overflow: hidden;
    border-radius: 3px;
    transition: .3s;
    text-overflow: ellipsis;

    &:hover {
      background-color: #f6f6f6;
    }
  }

  &__link {
    display: inline-block;
    padding: 6px 10px 7px 8px;
    color: #0066aa;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    transition: .3s;

    @include mobile {
      font-size: 14px;
      padding: 5px;
    }

    &:hover {
      color: #0066aa;
    }
  }
}