$fonts_dir: '../fonts/';

@mixin font($family, $name) {
  $font_file_path: $fonts_dir + $family;

  @font-face {
    font-family: $name;
    src: url($font_file_path + '.woff') format('woff'),
    url($font_file_path + '.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin font-mixin($font_name) {
  font-family: "#{$font_name}", 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@include font("Roboto/Light", "Roboto-Light");
@mixin light() {
  @include font-mixin("Roboto-Light");
}

@include font("Roboto/Regular", "Roboto-Regular");
@mixin regular() {
  @include font-mixin("Roboto-Regular");
}

@include font("Roboto/Medium", "Roboto-Medium");
@mixin medium() {
  @include font-mixin("Roboto-Medium");
}

@include font("Roboto/Bold", "Roboto-Bold");
@mixin bold() {
  @include font-mixin("Roboto-Bold");
}

@include font("RobotoSlab/Light", "RobotoSlab-Light");
@mixin ralb-light() {
  @include font-mixin("RobotoSlab-Light");
}

@include font("RobotoSlab/Regular", "RobotoSlab-Regular");
@mixin rslab-regular() {
  @include font-mixin("RobotoSlab-Regular");
}

@include font("RobotoSlab/Medium", "RobotoSlab-Medium");
@mixin rslab-medium() {
  @include font-mixin("RobotoSlab-Medium");
}

@include font("RobotoSlab/Bold", "RobotoSlab-Bold");
@mixin rslab-bold() {
  @include font-mixin("RobotoSlab-Bold");
}


@include font("RobotoMono/Regular", "RobotoMono-Regular");
@mixin rmono-regular() {
  @include font-mixin("RobotoMono-Regular");
}