// Colors
$primary-color: #e52;
$secondary-color: #39e;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-color: #17a2b8;
$dark-color: #343a40;

$gray-color: #ddd;

//css
$border-radius: 2px;

