.default {
  &__inner {
    @include desktop {
      padding-bottom: 90px;
    }

    @include tablet-and-phone {
      padding-bottom: 50px;
    }

    @include mobile {
      padding-bottom: 20px;
    }
  }
}