.not-found {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__inner {
    padding: 50px 0;
    text-align: center;

    @include mobile {
      padding: 25px 0;
    }
  }

  &__title {
    font-size: 50px;
    margin-bottom: 20px;

    @include mobile {
      font-size: 20px;
    }
  }

  &__number {
    @include rslab-bold;
    font-size: 150px;
    color: $primary-color;
    margin-bottom: 20px;
    line-height: 1;

    @include mobile {
      font-size: 90px;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desc {
    font-size: 20px;

    @include mobile {
      font-size: 16px;
    }
  }
}