</main>

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__action">
        <button class="btn btn-secondary">Написать статью</button>
      </div>

      <div class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">О проекте</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Реклама</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Правила публикации</a>
          </li>
        </ul>
      </div>

      <div class="footer__copy">&copy; 2018 Answr</div>
    </div>
  </div>
</footer>

</div>
</div>

{{> layout/bottom}}