{{> layout/head}}
<div class="wrapper">
  <div class="wrapper__wrap">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a href="#" class="_link">
              <img src="../content/images/logo.svg" class="_img" alt="">
            </a>
          </div>

          <div class="header__search">
            <div class="header-search">
              <form action="search" class="header-search__form">
                <div class="header-search__inner">
                  <div class="header-search__head">
                    <div class="form-field">
                      <button type="submit" class="header-search__btn"></button>
                      <input type="search"
                             class="form-input"
                             placeholder="Поиск">
                      <div class="header-search__body">
                        <ul class="header-search__body-section">
                          <li class="news-item news-item--search">
                            <div class="news-item__inner">
                              <div class="news-item__img">
                                <div class="_img"
                                     style="background-image: url('../content/images/news/img_03.jpg')"></div>
                              </div>
                              <div class="news-item__title">Империя Виталика Бутерина</div>
                              <div class="news-item__label">
                                ИСТОРИЯ КРИПТОВАЛЮТЫ
                              </div>
                              <a href="#" class="news-item__link"></a>
                            </div>
                          </li>

                          <li class="news-item news-item--search">
                            <div class="news-item__inner">
                              <div class="news-item__img">
                                <div class="_img"
                                     style="background-image: url('../content/images/news/img_02.jpg')"></div>
                              </div>
                              <div class="news-item__title">Государство в рыночной экономике</div>
                              <div class="news-item__label">
                                ИСТОРИЯ КРИПТОВАЛЮТЫ
                              </div>
                              <a href="#" class="news-item__link"></a>
                            </div>
                          </li>

                          <li class="news-item news-item--search">
                            <div class="news-item__inner">
                              <div class="news-item__img">
                                <div class="_img"
                                     style="background-image: url('../content/images/news/img_04.jpg')"></div>
                              </div>
                              <div class="news-item__title">Смешанная экономика</div>
                              <div class="news-item__label">
                                ТИСТОРИЯ КРИПТОВАЛЮТЫ
                              </div>
                              <a href="#" class="news-item__link"></a>
                            </div>
                          </li>
                        </ul>

                        <ul class="header-search__body-section">
                          <li class="search-category">
                            <div class="search-category__inner">
                              <a href="#" class="search-category__link">
                                <span class="search-category__item">Криптовалюта</span>
                                <span class="search-category__item">Монеты и токены</span>
                              </a>
                            </div>
                          </li>

                          <li class="search-category">
                            <div class="search-category__inner">
                              <a href="#" class="search-category__link">
                                <span class="search-category__item">Трейдинг и инвестиции</span>
                                <span class="search-category__item">Монеты для торговли</span>
                              </a>
                            </div>
                          </li>

                          <li class="search-category">
                            <div class="search-category__inner">
                              <a href="#" class="search-category__link">
                                <span class="search-category__item">Кредиты и банки</span>
                                <span class="search-category__item">Финансовые рынки монет</span>
                              </a>
                            </div>
                          </li>
                        </ul>

                        <ul class="header-search__body-section search-mark">
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Монеты для торговли</a></li>
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Марк Цукерберг</a></li>
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Архитектура</a></li>
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Война бесконечности</a></li>
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Биткоин</a></li>
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Эфир</a></li>
                          <li class="search-mark__item"><a href="#" class="search-mark__link">#Рипл</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          {{#if not-found}}

          {{else}}
            <!--<div class="header__login">-->
              <!--<a href="#" class="header__login-btn" type="button">Войти</a>-->
            <!--</div>-->
          {{/if}}
        </div>
      </div>
    </header>
    {{#if not-found}}
    {{else}}
      <nav class="nav js-menu">
        <div class="container">
          <div class="nav__inner">
            <div class="nav__action">
              <button class="_btn open js-menu-open">Меню</button>
              <button class="_btn close js-menu-close"></button>
            </div>

            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">Криптовалюта</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Трейдинг и инвестиции</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Финансовые рынки</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Финансы организаций</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Кредиты и банки</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Экономика</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {{/if}}

    <main class="wrapper__inner">



