<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">

    <meta name="author" content="BLAKIT, blak-it.com">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.1, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">

    <link rel="shortcut icon" sizes="32x32" href="../static/images/meta/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../static/images/meta/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/images/meta/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/meta/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/images/meta/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/meta/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/meta/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/images/meta/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/images/meta/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/meta/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/images/meta/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/meta/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/meta/favicon-16x16.png">
    <link rel="manifest" href="../static/images/meta/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/images/meta/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../static/css/main.css">

    <title>Заголовок сайта</title>
</head>

<body {{#if body_class}}class="{{body_class}}"{{/if}}>