* {
  outline: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  min-width: 320px;
  @include regular;
  font-size: 16px;

  &.popup-opened {
    overflow: hidden;
    overflow-scrolling: touch;

    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.nav-opened {
    @include mobile {
      overflow: hidden;
      overflow-scrolling: touch;
    }
  }
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  @include regular;
  font-size: 14px;

  &::-ms-clear {
    display: none !important;
  }

  &::-ms-reveal {
    display: none !important;
  }
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include regular;
  font-size: 14px;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

main {
  display: block;
}

.hidden-md {
  @include desktop {
    display: none !important;
  }
}

.hidden-sm {
  @include tablet {
    display: none !important;
  }
}

.hidden-xs {
  @include mobile {
    display: none !important;
  }
}

.link {

}