ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

h1, .h1 {
  margin: 0;
  @include rslab-bold;
  font-size: 36px;
  line-height: 48px;

  @include mobile {
    font-size: 27px;
    line-height: 36px;
  }
}

h2, .h2 {
  margin: 0;
  @include rslab-bold;
  font-size: 28px;
  line-height: 42px;

  @include mobile {
    font-size: 22px;
    line-height: 30px;
  }
}

h3, .h3 {
  margin: 0;
  @include rslab-bold;
  font-size: 22px;
  line-height: 30px;

  @include mobile {
    font-size: 18px;
    line-height: 24px;
  }
}

h4, .h4 {
  margin: 0;
  @include rslab-bold;
  font-size: 18px;
  line-height: 24px;

  @include mobile {
    font-size: 15px;
    line-height: 20px;
  }
}

p {
  line-height: 22px;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mobile {
    font-size: 13px;
    line-height: 18px;
  }

  a {

  }
}

b, strong {
  @include bold;
}