.footer {
  flex-shrink: 0;
  padding: 20px 0;
  background-color: #f9f9f9;
  border-top: 1px solid $gray-color;

  &__inner {
    @include desktop {
      display: flex;
      align-items: center;
    }

    @include tablet-and-phone {
      text-align: center;
    }
  }

  &__action {
    flex: 0 0 auto;

    @include tablet-and-phone {
      margin-bottom: 20px;
    }
  }

  &__nav {
    @include desktop {
      margin-left: 70px;
    }

    @include tablet-and-phone {
      margin-bottom: 20px;
    }

    &-list {
      @include no-mobile {
        display: flex;
        flex-wrap: wrap;
      }

      @include tablet {
        justify-content: center;
      }
    }

    &-item {
      padding: 5px 0;
      font-size: 13px;
      margin-right: 50px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include medium;

      @include mobile {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {

    }
  }

  &__copy {
    @include desktop {
      margin-left: auto;
      flex: 0 0 auto;
      max-width: 200px;
    }
  }
}
