.header {
  border-bottom: 1px solid #eee;
  padding: 35px 0;

  @include tablet-and-phone {
    padding: 15px 0;
  }

  @include mobile {
    padding-bottom: 70px;
    position: relative;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-and-phone {
      min-height: 45px;
    }
  }

  &__logo {
    flex: 0 0 118px;
    max-width: 118px;
    font-size: 0;
    margin-right: 30px;

    ._link {
      display: inline-block;
    }

    ._img {
      max-width: 100%;
    }
  }

  &__search {
    flex: 0 0 500px;
    max-width: 500px;
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    z-index: 10;
    top: 30px;

    @include tablet {
      top: 15px;
      max-width: 360px;
      width: 360px;
      margin-left: -180px;
    }

    @include mobile {
      position: absolute;
      top: auto;
      bottom: 18px;
      max-width: none;
      width: calc(100vw - 40px);
      margin-left: calc(-50vw + 20px);
    }
  }

  &__login {
    margin-left: 30px;

    &-btn {
      position: relative;
      font-size: 16px;
      line-height: 20px;
      margin-right: -15px;
      padding: 10px 15px 10px 20px;
      transition: .3s;
      background-color: transparent;
      border: 0;
      box-shadow: none;

      &:before {
        content: '';
        @include sprite('icon-login');
        position: absolute;
        left: 0;
        top: 46%;
        transform: translateY(-50%);
      }

      &:hover {
        color: $primary-color;

      }
    }
  }
}
