<div class="news-item__inner">
  <div class="news-item__img">
    {{#if letter}}
      <div class="_text">{{letter}}</div>
    {{else}}
      <div class="_img" style="background-image: url('../content/images/news/{{url}}')"></div>
    {{/if}}
    <a href="#" class="_link"></a>
  </div>
  <div class="news-item__title"><a href="#">{{title}}</a></div>
  <div class="news-item__label">
    <a href="#">{{label}}</a>
  </div>
  <div class="news-item__desc">
    {{desc}}
  </div>
</div>