{{![:ru]404[:en]404}}

{{> layout/header not-found=1}}
<div class="not-found">
  <div class="container">
    <div class="not-found__inner">
      <div class="not-found__title">Страница не найдена</div>
      <div class="not-found__number">404</div>
      <div class="not-found__desc"><a href="#">Вернуться на главную</a></div>
    </div>
  </div>
</div>

{{> layout/footer}}