{{![:ru]Главная страница[:en]Main page}}

{{> layout/header}}
<div class="default">
  <div class="default__inner">
    <section class="news-section">
      <div class="container">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Криптовалюта</a>
              <span class="_count">956 статей</span>
            </h2>

            <div class="news-section__label">
              <ul class="news-section__label-list">
                <li class="news-section__label-item">
                  <a href="#" class="_link">Монеты и токены</a>
                  <span class="_count">987</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Блокчейн</a>
                  <span class="_count">187</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Криптотрейдинг</a>
                  <span class="_count">325</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Криптовалютные биржи</a>
                  <span class="_count">124</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Майнинг</a>
                  <span class="_count">517</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="news-section__body">
            <div class="news-section__main">
              <div class="news-section__row">
                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_01.jpg"
                      title="Виталик Бутерин"
                      label="Инвестирование"
                      desc="Канадско-российский программист, сооснователь проекта Ethereum, который выиграл премию…"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_02.jpg"
                      title="Аббревиатуры должностей"
                      label="Бизнес и экономика"
                      desc="Кто такие CEO, CFO, СVO, CMO, CMO и кому полезно знать наизусть эти аббревиатуры"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_03.jpg"
                      title="Бинарные опционы: рейтинг брокеров"
                      label="Трейдеры и инвесторы"
                      desc="Оценка по ключевым параметрам. Сравнение, выводы"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_04.jpg"
                      title="Государство в экономике"
                      label="Бизнес и экономика"
                      desc="Его роль, функции, зоны влияния, политические аспекты"
                  }}
                </div>
              </div>
            </div>

            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_04.jpg"
                    title="Смешанная экономика"
                    label="Бизнес и экономика"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_05.jpg"
                    title="Государство в рыночной экономике"
                    label="Бизнес и экономика"
                    desc="Определение, значение государства в рыночной экономике, его функции и роль"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_06.jpg"
                    title="Империя Виталика Бутерина"
                    label="Эфир"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_07.png"
                    title="Как купить биткоин за рубли"
                    label="Биткоин"
                    desc="Как торговать бинарными опционами — советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_08.png"
                    title="Лайткоин — замена биткоину?"
                    label="Лайткоин"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_09.jpg"
                    title="Бинарные опционы: подводные камни"
                    label="Инвестирование"
                    desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
                }}
              </li>
            </ul>

          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Все 235 статей</a>
          </div>
        </div>
      </div>
    </section>

    <section class="news-section">
      <div class="container">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Трейдинг и инвестиции</a>
              <span class="_count">235 статей</span>
            </h2>

            <div class="news-section__label">
              <ul class="news-section__label-list">
                <li class="news-section__label-item">
                  <a href="#" class="_link">Эфир</a>
                  <span class="_count">42</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Криптовалютные биржи</a>
                  <span class="_count">123</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Инвестиции в криптовалюту</a>
                  <span class="_count">442</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Биткоин</a>
                  <span class="_count">112</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">ICO</a>
                  <span class="_count">542</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="news-section__body">
            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_10.jpg"
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_04.jpg"
                    title="Смешанная экономика"
                    label="Бизнес и экономика"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_05.jpg"
                    title="Государство в рыночной экономике"
                    label="Бизнес и экономика"
                    desc="Определение, значение государства в рыночной экономике, его функции и роль"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_06.jpg"
                    title="Империя Виталика Бутерина"
                    label="Эфир"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_07.png"
                    title="Как купить биткоин за рубли"
                    label="Биткоин"
                    desc="Как торговать бинарными опционами — советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_08.png"
                    title="Лайткоин — замена биткоину?"
                    label="Лайткоин"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_09.jpg"
                    letter="C"
                    title="Бинарные опционы: подводные камни"
                    label="Инвестирование"
                    desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
                }}
              </li>
            </ul>

          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Все 235 статей</a>
          </div>
        </div>
      </div>
    </section>

    <section class="news-section">
      <div class="container">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Финансовые рынки</a>
              <span class="_count">545 статей</span>
            </h2>

            <div class="news-section__label">
              <ul class="news-section__label-list">
                <li class="news-section__label-item">
                  <a href="#" class="_link">Биткоин</a>
                  <span class="_count">112</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Эфир</a>
                  <span class="_count">42</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Криптовалютные биржи</a>
                  <span class="_count">123</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Инвестиции в криптовалюту</a>
                  <span class="_count">442</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">ICO</a>
                  <span class="_count">542</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="news-section__body">
            <div class="news-section__main">
              <div class="news-section__row">
                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_05.png"
                      title="Виталик Бутерин"
                      label="Инвестирование"
                      desc="Канадско-российский программист, сооснователь проекта Ethereum, который выиграл премию…"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_06.png"
                      title="Аббревиатуры должностей"
                      label="Бизнес и экономика"
                      desc="Кто такие CEO, CFO, СVO, CMO, CMO и кому полезно знать наизусть эти аббревиатуры"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="s-img_10.jpg"
                      title="Бинарные опционы: рейтинг брокеров"
                      label="Трейдеры и инвесторы"
                      desc="Оценка по ключевым параметрам. Сравнение, выводы"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_07.png"
                      title="Государство в экономике"
                      label="Бизнес и экономика"
                      desc="Его роль, функции, зоны влияния, политические аспекты"
                  }}
                </div>
              </div>
            </div>

            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='Q'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_04.jpg"
                    title="Смешанная экономика"
                    label="Бизнес и экономика"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_05.jpg"
                    title="Государство в рыночной экономике"
                    label="Бизнес и экономика"
                    desc="Определение, значение государства в рыночной экономике, его функции и роль"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_06.jpg"
                    title="Империя Виталика Бутерина"
                    label="Эфир"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_07.png"
                    letter='C'
                    title="Как купить биткоин за рубли"
                    label="Биткоин"
                    desc="Как торговать бинарными опционами — советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_08.png"
                    letter='П'
                    title="Лайткоин — замена биткоину?"
                    label="Лайткоин"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_09.jpg"
                    title="Бинарные опционы: подводные камни"
                    label="Инвестирование"
                    desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
                }}
              </li>
            </ul>

          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Все 235 статей</a>
          </div>
        </div>
      </div>
    </section>

    <section class="news-section">
      <div class="container">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Финансы организаций</a>
              <span class="_count">545 статей</span>
            </h2>
          </div>

          <div class="news-section__body">
            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    letter='ф'
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='Q'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    letter='Б'
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_04.jpg"
                    letter='С'
                    title="Смешанная экономика"
                    label="Бизнес и экономика"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_05.jpg"
                    letter='Г'
                    title="Государство в рыночной экономике"
                    label="Бизнес и экономика"
                    desc="Определение, значение государства в рыночной экономике, его функции и роль"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_06.jpg"
                    letter='Б'
                    title="Империя Виталика Бутерина"
                    label="Эфир"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_07.png"
                    letter='C'
                    title="Как купить биткоин за рубли"
                    label="Биткоин"
                    desc="Как торговать бинарными опционами — советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_08.png"
                    letter='И'
                    title="Лайткоин — замена биткоину?"
                    label="Лайткоин"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_09.jpg"
                    letter='г'
                    title="Бинарные опционы: подводные камни"
                    label="Инвестирование"
                    desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    letter='Б'
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='С'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    letter='И'
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>
            </ul>
          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Все 518 статей</a>
          </div>
        </div>
      </div>
    </section>


    <section class="news-section">
      <div class="container">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Кредиты и банки</a>
              <span class="_count">377 статей</span>
            </h2>
          </div>

          <div class="news-section__body">
            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    letter='ф'
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='Q'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    letter='Б'
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_04.jpg"
                    letter='С'
                    title="Смешанная экономика"
                    label="Бизнес и экономика"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_05.jpg"
                    letter='Г'
                    title="Государство в рыночной экономике"
                    label="Бизнес и экономика"
                    desc="Определение, значение государства в рыночной экономике, его функции и роль"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_06.jpg"
                    letter='Б'
                    title="Империя Виталика Бутерина"
                    label="Эфир"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_07.png"
                    letter='C'
                    title="Как купить биткоин за рубли"
                    label="Биткоин"
                    desc="Как торговать бинарными опционами — советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_08.png"
                    letter='И'
                    title="Лайткоин — замена биткоину?"
                    label="Лайткоин"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_09.jpg"
                    letter='г'
                    title="Бинарные опционы: подводные камни"
                    label="Инвестирование"
                    desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    letter='Б'
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='С'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    letter='И'
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>
            </ul>
          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Все 377 статей</a>
          </div>
        </div>
      </div>
    </section>


    <section class="news-section">
      <div class="container">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Экономика</a>
              <span class="_count">126 статей</span>
            </h2>
          </div>

          <div class="news-section__body">
            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    letter='ф'
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='Q'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    letter='Б'
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_04.jpg"
                    letter='С'
                    title="Смешанная экономика"
                    label="Бизнес и экономика"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_05.jpg"
                    letter='Г'
                    title="Государство в рыночной экономике"
                    label="Бизнес и экономика"
                    desc="Определение, значение государства в рыночной экономике, его функции и роль"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_06.jpg"
                    letter='Б'
                    title="Империя Виталика Бутерина"
                    label="Эфир"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_07.png"
                    letter='C'
                    title="Как купить биткоин за рубли"
                    label="Биткоин"
                    desc="Как торговать бинарными опционами — советы и стратегии от профи"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_08.png"
                    letter='И'
                    title="Лайткоин — замена биткоину?"
                    label="Лайткоин"
                    desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_09.jpg"
                    letter='г'
                    title="Бинарные опционы: подводные камни"
                    label="Инвестирование"
                    desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    letter='Б'
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    letter='С'
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    letter='И'
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>
            </ul>
          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Все 126 статей</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{{> layout/footer}}