{{![:ru]Ui элементы[:en]Ui toolkit}}

{{> layout/head }}

<section class="ui">
  <header class="ui__title">
    <h1>UI Toolkit</h1>
  </header>

  <main class="ui__container">
    <aside class="ui__aside">
      <nav class="aside__inner">
        <ul class="aside__nav">
          <li>
            <button class="_link" data-id="ui-colors">Colors</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons">Buttons</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-outline">Buttons Outline</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-sizes">Buttons Sizes</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-disabled">Buttons Disabled</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-icons">Buttons Icons</button>
          </li>
          <li>
            <button class="_link" data-id="ui-form">Forms</button>
          </li>
          <li>
            <button class="_link" data-id="ui-popups">Popups</button>
          </li>
          <li>
            <button class="_link" data-id="ui-loader">Loader</button>
          </li>
          <li>
            <button class="_link" data-id="ui-loader-empty">Loader Empty</button>
          </li>
          <li>
            <button class="_link" data-id="ui-element">Page elements</button>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="ui__main">
      {{> blocks/ui-section-start title='Colors' id='ui-colors'}}

      <div class="ui__colors">
        <div class="_item" style="background-color: #e52;">
          <span>#e52</span>
        </div>
        <div class="_item" style="background-color: #39e;">
          <span>#39e</span>
        </div>
        <div class="_item" style="background-color: #ddd;">
          <span>#ddd</span>
        </div>
        <div class="_item" style="background-color: #28a745;">
          <span>#28a745</span>
        </div>
        <div class="_item" style="background-color: #dc3545;">
          <span>#dc3545</span>
        </div>
        <div class="_item" style="background-color: #ffc107;">
          <span>#ffc107</span>
        </div>
        <div class="_item" style="background-color: #17a2b8;">
          <span>#17a2b8</span>
        </div>
        <div class="_item" style="background-color: #343a40;">
          <span>#343a40</span>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons' id='ui-buttons'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-secondary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-success">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-danger">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-warning">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-light">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-dark">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-loading">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Outline' id='ui-buttons-outline'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-outline-primary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-secondary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-success">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-danger">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-warning">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-light">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-dark">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-primary btn-loading">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Sizes' id='ui-buttons-sizes'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary btn-lg">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-small">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-lg btn-loading">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-small btn-loading">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Disabled' id='ui-buttons-disabled'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary" disabled>Button</button>
        </div>

        <div class="btn-list__item">
          <a href="#" class="btn btn-primary disabled">Button</a>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-primary" disabled>Button</button>
        </div>

        <div class="btn-list__item">
          <a href="#" class="btn btn-outline-primary disabled">Button</a>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Icons' id='ui-buttons-icons'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary">
            {{> ui/svg name='btn-user'}}
            <span>Button</span>
          </button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary">
            <span>Button</span>
            {{> ui/svg name='btn-arrow'}}
          </button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Forms' id='ui-forms'}}

      <div class="row">
        <div class="col-md-6">
          {{> ui/input label='Example label' placeholder='Input placeholder'}}
        </div>

        <div class="col-md-6">
          {{> ui/input label='Example label' input-class='form-error' error=1}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{> ui/input label='Example label'  placeholder='Input disabled' disabled=1}}
        </div>

        <div class="col-md-6">
          {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          {{> ui/radio id=1 name='radio1' label='Example label'}}
          <br>
          {{> ui/radio id=2 name='radio1' label='Example label' checked=1}}
        </div>

        <div class="col-md-6">
          {{> ui/checkbox id=3 label='Example label'}}
          <br>
          {{> ui/checkbox id=4 label='Example label' checked=1}}
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Popups' id='ui-popups'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary" data-popup="example">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Loader' id='ui-loader'}}

      <div class="loader">
        <div class="loader__circle">Loading...</div>

        <div class="row">
          <div class="col-md-6">
            {{> ui/input label='Example label' placeholder='Input placeholder'}}
          </div>

          <div class="col-md-6">
            {{> ui/input label='Example label' input-class='form-error' error=1}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{> ui/input label='Example label'  placeholder='Input disabled' disabled=1}}
          </div>

          <div class="col-md-6">
            {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{> ui/radio id=1 name='radio1' label='Example label'}}
            <br>
            {{> ui/radio id=2 name='radio1' label='Example label' checked=1}}
          </div>

          <div class="col-md-6">
            {{> ui/checkbox id=3 label='Example label'}}
            <br>
            {{> ui/checkbox id=4 label='Example label' checked=1}}
          </div>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Loader Empty' id='ui-loader-empty'}}

      <div class="loader loader--trans">
        <div class="loader__circle">Loading...</div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Pages elements' id='ui-element'}}
      <h2>Header Search</h2>
      <div class="header-search">
        <form action="" class="header-search__form">
          <div class="header-search__inner">
            <div class="header-search__head">
              <div class="form-field">
                <button type="submit" class="header-search__btn"></button>
                <input type="search"
                       class="form-input"
                       placeholder="Поиск">
                <div class="header-search__body">
                  <ul class="header-search__body-section">
                    <li class="news-item news-item--search">
                      <div class="news-item__inner">
                        <div class="news-item__img">
                          <div class="_img"
                               style="background-image: url('../content/images/news/img_03.jpg')"></div>
                        </div>
                        <div class="news-item__title">Империя Виталика Бутерина</div>
                        <div class="news-item__label">
                          ИСТОРИЯ КРИПТОВАЛЮТЫ
                        </div>
                        <a href="#" class="news-item__link"></a>
                      </div>
                    </li>

                    <li class="news-item news-item--search">
                      <div class="news-item__inner">
                        <div class="news-item__img">
                          <div class="_img"
                               style="background-image: url('../content/images/news/img_02.jpg')"></div>
                        </div>
                        <div class="news-item__title">Государство в рыночной экономике</div>
                        <div class="news-item__label">
                          ИСТОРИЯ КРИПТОВАЛЮТЫ
                        </div>
                        <a href="#" class="news-item__link"></a>
                      </div>
                    </li>

                    <li class="news-item news-item--search">
                      <div class="news-item__inner">
                        <div class="news-item__img">
                          <div class="_img"
                               style="background-image: url('../content/images/news/img_04.jpg')"></div>
                        </div>
                        <div class="news-item__title">Смешанная экономика</div>
                        <div class="news-item__label">
                          ТИСТОРИЯ КРИПТОВАЛЮТЫ
                        </div>
                        <a href="#" class="news-item__link"></a>
                      </div>
                    </li>
                  </ul>

                  <ul class="header-search__body-section">
                    <li class="search-category">
                      <div class="search-category__inner">
                        <a href="#" class="search-category__link">
                          <span class="search-category__item">Криптовалюта</span>
                          <span class="search-category__item">Монеты и токены</span>
                        </a>
                      </div>
                    </li>

                    <li class="search-category">
                      <div class="search-category__inner">
                        <a href="#" class="search-category__link">
                          <span class="search-category__item">Трейдинг и инвестиции</span>
                          <span class="search-category__item">Монеты для торговли</span>
                        </a>
                      </div>
                    </li>

                    <li class="search-category">
                      <div class="search-category__inner">
                        <a href="#" class="search-category__link">
                          <span class="search-category__item">Кредиты и банки</span>
                          <span class="search-category__item">Финансовые рынки монет</span>
                          <span class="search-category__item">Финансовые рынки монет</span>
                        </a>
                      </div>
                    </li>
                  </ul>

                  <ul class="header-search__body-section search-mark">
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Монеты для торговли</a></li>
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Марк Цукерберг</a></li>
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Архитектура</a></li>
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Война бесконечности</a></li>
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Биткоин</a></li>
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Эфир</a></li>
                    <li class="search-mark__item"><a href="#" class="search-mark__link">#Рипл</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <br>
      <br>
      <br>

      <h2>Header Search Loading</h2>
      <div class="header-search">
        <form action="" class="header-search__form">
          <div class="header-search__inner">
            <div class="header-search__head">
              <div class="form-field">
                <button type="submit" class="header-search__btn"></button>
                <input type="search"
                       class="form-input"
                       placeholder="Поиск">
                <div class="header-search__body loader">
                  <div class="loader__circle">Loading...</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <br>
      <br>
      <br>

      <h2>Header Search Not Found</h2>
      <div class="header-search">
        <form action="" class="header-search__form">
          <div class="header-search__inner">
            <div class="header-search__head">
              <div class="form-field">
                <button type="submit" class="header-search__btn"></button>
                <input type="search"
                       class="form-input"
                       placeholder="Поиск">
                <div class="header-search__body">
                  <div class="header-search__body-empty">
                    <div class="_text">Нет результатов поиска</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <br>
      <br>
      <br>
      <br>

      <h2>Section</h2>

      <section class="news-section">
        <div class="news-section__inner">
          <div class="news-section__head">

            <h2 class="news-section__title">
              <a href="#" class="_link">Section Title</a>
              <span class="_count">956 post</span>
            </h2>

            <div class="news-section__label">
              <ul class="news-section__label-list">
                <li class="news-section__label-item">
                  <a href="#" class="_link">Mark</a>
                  <span class="_count">987</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Mark</a>
                  <span class="_count">187</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Mark</a>
                  <span class="_count">325</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Mark</a>
                  <span class="_count">124</span>
                </li>
                <li class="news-section__label-item">
                  <a href="#" class="_link">Mark</a>
                  <span class="_count">517</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="news-section__body">
            <h3>Section Content</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid distinctio dolorem error est expedita
              ipsam nesciunt, nihil nisi nobis non porro praesentium provident quia quod reiciendis, repellat saepe
              tempora, velit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid distinctio dolorem error est expedita
              ipsam nesciunt, nihil nisi nobis non porro praesentium provident quia quod reiciendis, repellat saepe
              tempora, velit!</p>
          </div>

          <div class="news-section__foot">
            <a href="#" class="news-section__action">Button</a>
          </div>
        </div>
      </section>

      <br>
      <br>
      <br>
      <br>

      <h2>Small img Post</h2>
      <br>


      <div class="row">
        <div class="col-md-6">
          <h3>Post with letter</h3>
          <br>
          <div class="news-item news-item--small">
            {{> blocks/news-item
                url="s-img_08.png"
                letter='П'
                title="Лайткоин — замена биткоину?"
                label="Лайткоин"
                desc="Определение и структура. Этапы возникновения, модели. Какую роль играет государство?"
            }}
          </div>
        </div>
        <div class="col-md-6">
          <h3>Post with img</h3>
          <br>
          <div class="news-item news-item--small">
            {{> blocks/news-item
                url="s-img_09.jpg"
                title="Бинарные опционы: подводные камни"
                label="Инвестирование"
                desc="Опасности и проблемы, с которыми сталкиваются инвесторы"
            }}
          </div>
        </div>

        <div class="col-md-6">
          <br>
          <br>
          <br>
          <h3>Post in search</h3>
          <br>
          <div class="news-item news-item--search">
            <div class="news-item__inner">
              <div class="news-item__img">
                <div class="_img"
                     style="background-image: url('../content/images/news/img_02.jpg')"></div>
              </div>
              <div class="news-item__title">Государство в рыночной экономике</div>
              <div class="news-item__label">
                ИСТОРИЯ КРИПТОВАЛЮТЫ
              </div>
              <a href="#" class="news-item__link"></a>
            </div>
          </div>
        </div>
      </div>





      <br>
      <br>
      <br>
      <br>

      <h2>Big row news post</h2>

      <section class="news-section">
        <div class="news-section__inner">
          <div class="news-section__body">
            <div class="news-section__main">
              <div class="news-section__row">
                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_01.jpg"
                      title="Виталик Бутерин"
                      label="Инвестирование"
                      desc="Канадско-российский программист, сооснователь проекта Ethereum, который выиграл премию…"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_02.jpg"
                      title="Аббревиатуры должностей"
                      label="Бизнес и экономика"
                      desc="Кто такие CEO, CFO, СVO, CMO, CMO и кому полезно знать наизусть эти аббревиатуры"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_03.jpg"
                      title="Бинарные опционы: рейтинг брокеров"
                      label="Трейдеры и инвесторы"
                      desc="Оценка по ключевым параметрам. Сравнение, выводы"
                  }}
                </div>

                <div class="news-section__col news-item">
                  {{> blocks/news-item
                      url="img_04.jpg"
                      title="Государство в экономике"
                      label="Бизнес и экономика"
                      desc="Его роль, функции, зоны влияния, политические аспекты"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <br>
      <br>
      <br>
      <br>

      <h2>Small row news post</h2>


      <section class="news-section">
        <div class="news-section__inner">

          <div class="news-section__body">
            <ul class="news-section__list">
              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_01.jpg"
                    title="Финансовый результат"
                    label="Инвестирование"
                    desc="Виды финансового результата. Учет, аудит и отчетность. Влияние учетной политики"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_02.png"
                    title="Quantum System"
                    label="Бизнес и экономика"
                    desc="Знакомство с проектом. Анализ представления в СМИ и интернете, выводы"
                }}
              </li>

              <li class="news-section__item news-item news-item--small">
                {{> blocks/news-item
                    url="s-img_03.jpg"
                    title="Бинарные опционы: стратегии торговли"
                    label="Инвестирование"
                    desc="Как торговать бинарными опционами. Советы и стратегии от профи"
                }}
              </li>
            </ul>
          </div>
        </div>
      </section>


      {{> blocks/ui-section-end}}
    </section>
  </main>
</section>

{{> popups/example}}

<script>
  window.onload = () => {
    const $btn = $('.aside__nav').find('._link');

    $btn.on('click', function () {
      const id = $(this).data('id');

      $('html, body').animate({
        scrollTop: $(`#${id}`).offset().top
      }, 600);
    });
  };
</script>

{{> layout/bottom }}
