.dropdown {
  position: relative;

  &__header {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    height: 35px;
    border: 1px solid $gray-color;
    border-radius: $border-radius;

    &--placeholder {
      .dropdown__text {
        color: $gray-color;
        opacity: 0.65;
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 10px;
    @include sprite('btn-arrow-d');
    z-index: 1;
  }

  &__text {
    display: block;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
  }

  &__box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 3px;
    min-width: 100%;
    background-color: #ffffff;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.25);
    max-height: 300px;
    overflow: auto;
    z-index: 1;

    .opened & {
      z-index: 2;
    }

    div {
      display: block;
      white-space: nowrap;

      a {
        display: block;
        color: #000;
        text-transform: none;
        line-height: 30px;
        font-size: 14px;
        padding: 0 10px;

        &:hover {
          color: #000;
          background-color: #f1f2f5;
        }
      }
    }
  }
}